@import url('./common.css');
header {
  display: flex;
  background: linear-gradient(90deg, rgb(227, 4, 4), rgb(172, 0, 0));
  box-shadow: black 0px 3px 5px;
  padding: 0px 3em;
}

a {
  display: block;
  width: fit-content;
  padding: .7em 1em;
  border-bottom: .2em solid white;
  text-decoration: none;
  color: white
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: rgb(223, 223, 223);
}

.user-info p {
  text-transform: capitalize;
}

.user-info .user-image {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: white;
  opacity: .4;
  margin-left: .7em;
}

#closeApp{
  margin-left: 15px;
  font-size: .7em;
  background-color: rgb(218, 88, 88);
  color: white;
  border-radius: 50vh;
  padding: 5px 10px;
  cursor: pointer;
}

.imgBanner {
  width: auto;
  height: 350px;
  filter: brightness();
}

#myVideo {
  width: 100vw;
  height: 59vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
/* Nova tarefa ----------------------------------------------------------- */
.novatarefaDesign {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 220px;
  position: relative;
  bottom: 50px;
}
.novatarefaDesign2 {
  height: 50px;
  position: relative;
  bottom: 39px;
}
.imgAdd{
  border-radius: 50%;

}
#botaoAddTarefa{
  border-radius: 50%;
  width: 35px;
  padding: 2px;
  height: 35px;
  position: relative;
  bottom: 50px;
  right: 6px;
  animation:botaoAddTarefa 2s infinite both
}

@keyframes botaoAddTarefa{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(.75,1.25,1)}40%{transform:scale3d(1.25,.75,1)}50%{transform:scale3d(.85,1.15,1)}65%{transform:scale3d(1.05,.95,1)}75%{transform:scale3d(.95,1.05,1)}100%{transform:scale3d(1,1,1)}}
textarea {
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.designSpan {
  border-radius: 50%;
  width: 209px;
  height: 189px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 59%) 0px -8px 17px 0px, rgb(255 255 255 / 0%) -19px -20px 50px;
}

.designSpan2 {
  position: relative;
  top: 35px;
  margin-left: calc(50% - 2.5em);
  border-radius: 50%;
  width: 112px;
  height: 47px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 59%) 3px 4px 17px 0px, rgb(255 255 255 / 0%) -19px -20px 50px;
}
.nova-tarefa {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 0 0;
  padding: 1em;
  z-index: 20;
  bottom: 30px;
  border-radius: 10px;
  width: 249px;
  height: 158px;
  box-shadow: rgb(0 0 0 / 59%) 0px 20px 17px 0px, rgb(255 255 255 / 0%) -19px -20px 50px;
  flex-direction: column;
  justify-content: space-between;
}

.nova-tarefa input[type=text] {
  border: none;
  flex: 1;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
  padding: .3em;
  font-size: 1.1em;
}

.nova-tarefa input:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

.nova-tarefa input::placeholder {
  color: rgb(197, 197, 197);
  text-indent: .2em;
}

.nova-tarefa button {
  height: 2em;
  width: 2em;
  background-color: transparent;
  margin-left: 2em;
  margin-right: 1em;
  opacity: .5;
  cursor: pointer;
}

.nova-tarefa button:hover {
  opacity: 1;
}

.nova-tarefa button img {
  height: 100%;
  width: 100%;
}

.not-done {
  width: 2em;
  height: 2em;
  background-color: var(--app-grey);
  margin-right: 1em;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: grey;
}

.not-done:hover{
 filter: brightness(120%);
}
/* Lista de tarefas ----------------------------------------------------------- */

.tarefas-pendentes {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 70%;
  list-style: none;
  margin: 2em 9%;
  column-gap: 20px;
  justify-content: end;
}



.tarefa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;


  border-radius: 0px;
  background: linear-gradient(rgb(225 199 0 / 91%), rgb(247 255 110));
  box-shadow: rgb(0 0 0 / 59%) -2px 15px 17px 0px, rgb(255 255 255 / 0%) -19px -20px 50px;
}

.divAction {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.tarefa .not-done {
  position: relative;
  height: 25px;
  width: 26px;
  padding: 4px;
  /* background-color: white;
  box-shadow: 2px 2px 5px lightgrey;
  border: 2px solid var(--secondary);
  z-index: 2;
  transition: background-color 200ms linear; */
  background-image: url('../assets/checked.png');
  background-repeat: no-repeat;
  background-size: contain;
  
  background-color: rgba(86, 181, 119, 0);
}

.tarefa .not-done:hover {
  /* background-color: var(--secondary); */
  background-color: rgba(106, 255, 158, 0);
}

/* .tarefa:first-child .not-done::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: calc(.75em - 1px);
  display: block;
  height: 3em;
  width: 2px;
  background-color: var(--secondary);
} */

/* .tarefa:not(:last-child) .not-done::after {
  content: '';
  position: absolute;
  top: 100%;
  left: calc(.75em - 1px);
  display: block;
  height: 4.5em;
  width: 2px;
  background-color: var(--secondary);
} */

.tarefa .descricao {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  /* background-color: white; */
  padding: 1em 1em;
  /* box-shadow: 2px 2px 5px lightgrey; */
  flex-direction: column;
}

.tarefa .nome {
  color: rgb(95, 95, 95);
  width: 10px;
}

.tarefa .timestamp {
  font-size: .9em;
  color: rgb(134, 134, 134);
  margin-top: 10px;
}

/* Tarefas terminadas ----------------------------------------------------------- */

.titulo-terminadas {
  position: relative;
  width: 8em;
  text-align: center;
  padding: .5em 1em;
  background-color: white;
  border-radius: .2em;
  color: rgb(95, 95, 95);
  font-weight: 400;
  font-size: 1.1em;
  margin-left: calc(50% - 4em);
  z-index: 20;
}

.tarefas-terminadas {
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style: none;
  margin: 2em 15%;
}

.tarefas-terminadas i{
  color: rgb(99, 99, 99);
  background-color: rgb(228, 228, 228);
}
.tarefas-terminadas button{
  margin-left: 10px;
}

/* .tarefas-terminadas .tarefa .descricao {
  background-color: rgb(228, 228, 228);
} */

.tarefas-terminadas .tarefa .descricao .nome {
  color: grey;
  text-decoration: line-through;
}

#skeleton .descricao{
  background-color: rgb(189, 189, 189);
}
#skeleton p{
  background-color: rgb(214, 214, 214);
  color: rgb(214, 214, 214);
}
#skeleton .not-done{
  width: 1em;
  height: 1em;
  background-color: var(--app-grey);
  margin-right: 1em;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: grey;
  filter: grayscale(10);
}

#skeleton{
  animation: trasparencia 1s infinite;
  display: flex;
  column-gap: 40px;
  position: relative;
  margin-right: calc(15% - 1.5em);
}
@keyframes trasparencia {
  0%{ opacity: 0.5;}
  100%{ opacity: 0.8;}
}



